{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Muokkaa tilausta #{{ order['id'] }} {% endblock %}</h1>

{% set button_text = "Tallenna muutokset" %}
{% if order['arkistoitu'] == 1 %}{% set archived = True %}{% endif %}
{% include 'orders/form.html' %}

<hr>
{% if order['arkistoitu'] == 0 %}
  {% set mb_id, mb_button_text, mb_title, mb_submit_button_text = "archive", "Arkistoi", "Arkistointi", "Arkistoi" %}
  {% set mb_body = 'Haluatko varmasti arkistoida tilauksen #' + order['id']|string + '?' %}
  {% set mb_action = url_for('order_archive', order_id=order['id']) %}
{% else %}
  {% set mb_id, mb_button_text, mb_title, mb_submit_button_text = "unarchive", "Palauta arkistosta", "Arkistointi", "Palauta arkistosta" %}
  {% set mb_body = 'Haluatko varmasti palauttaa tuotteen #' + order['id']|string + ' arkistosta?' %}
  {% set mb_action = url_for('order_unarchive', order_id=order['id']) %}
{% endif %}
{% set mb_submit_button_class = "btn btn-warning" %}
{% include 'modal_button.html' %}
{% endblock %}
