{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Muokkaa tuotetta "{{ product['kuvaus'] }}" {% endblock %}</h1>

{% set button_text = "Tallenna muutokset" %}
{% if product['arkistoitu'] == 1 %}{% set archived = True %}{% endif %}
{% include 'product_form.html' %}

<hr>
{% if product['arkistoitu'] == 0 %}
  {% set mb_id, mb_button_text, mb_title, mb_submit_button_text = "archive", "Arkistoi", "Arkistointi", "Arkistoi" %}
  {% set mb_body = 'Haluatko varmasti arkistoida tuotteen "' + product['kuvaus'] + '"?' %}
  {% set mb_action = url_for('archive', product_id=product['id']) %}
{% else %}
  {% set mb_id, mb_button_text, mb_title, mb_submit_button_text = "unarchive", "Palauta arkistosta", "Arkistointi", "Palauta arkistosta" %}
  {% set mb_body = 'Haluatko varmasti palauttaa tuotteen "' + product['kuvaus'] + '" arkistosta?' %}
  {% set mb_action = url_for('unarchive', product_id=product['id']) %}
{% endif %}
{% set mb_submit_button_class = "btn btn-warning" %}
{% include 'modal_button.html' %}
{% endblock %}
