{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Tuotteet {% endblock %}</h1>

{% include 'advanced_search.html' %}

<div id="toolbar" class="d-print-none">
  <a href="{{url_for('create')}}" class="btn btn-primary"><i class="fa fa-plus"></i> Lisää tuote</a>
</div>

<table id="table"
       data-toggle="table"
       data-url="{{ url_for('products_json') }}"
       data-pagination="true"
       data-page-list="[10, 25, 50, 100, 1000, all]"
       data-side-pagination="server"
       data-search="true"
       data-toolbar="#toolbar"
       data-show-columns="true"
       data-show-columns-toggle-all="false"
       data-mobile-responsive="true"
       data-check-on-init="true"
       data-cookie="true"
       data-cookie-id-table="saveId"  
       data-id-field="id"
       data-click-to-select="true"
       data-buttons="buttons"
       data-query-params="queryParams"
       data-trim-on-search="false"
       data-show-search-clear-button="true">
  <thead>
    <tr>
      <th data-field="saapumispvm"
          data-sortable="true">
        Saapumispvm.
      </th>
      <th data-field="kuvaus"
          data-sortable="true">
        Kuvaus
      </th>
      <th data-field="hinta"
          data-sortable="true"
          data-visible="false">
        Hinta
      </th>
      <th data-field="koodi"
          data-sortable="true">
        Numero
      </th>
      <th data-field="sijainti"
          data-sortable="true">
        Sijainti
      </th>
      <th data-field="tila"
          data-sortable="true">
        Tila
      </th>
      <th data-field="toimitustapa"
          data-sortable="true">
        Toimitustapa
      </th>
      <th data-field="toimituspvm"
          data-sortable="true">
        Toimituspvm.
      </th>
      <th data-field="lisätiedot"
          data-sortable="true"
          data-visible="false">
        Lisätiedot</th>
      <th data-field="id"
          data-formatter="operationsFormatter"
          class="text-nowrap d-print-none"
          data-switchable="false"
          data-width="50">
      </th>
    </tr>
  </thead>
</table>
{% endblock %}
