{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Muokkaa tilausta #{{ order['id'] }} {% endblock %}</h1>

{% set button_text = "Tallenna muutokset" %}
{% include 'order_form.html' %}

<hr>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelete">
  Poista
</button>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Haluatko varmasti poistaa tilauksen #{{ order['id'] }}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<!--
      <div class="modal-body">
      </div>
-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
        <form action="{{ url_for('order_delete', order_id=order['id']) }}" method="POST">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
