<div class="spacer"></div>

<form method="post">
  <div class="form-group row">
    <label for="saapumispvm" class="col-lg-2 col-form-label">Saapumispäivämäärä</label>
    <div class="col-lg-10">
      <input type="text" id="datepicker" name="saapumispvm" placeholder="VVVV-KK-PP" class="form-control"
        value="{{ request.form['saapumispvm'] or product and (product['saapumispvm'] if product['saapumispvm']) }}">
        <!-- supress None by "x if x" -->
      </input>
    </div>
  </div>
  <div class="form-group row">
    <label for="kuvaus" class="col-lg-2 col-form-label">Kuvaus</label>
    <div class="col-lg-10">
      <input type="text" name="kuvaus" class="form-control"
        value="{{ request.form['kuvaus'] or product and product['kuvaus'] }}">
      </input>
    </div>
  </div>
  <div class="form-group row">
    <label for="hinta" class="col-lg-2 col-form-label">Hinta</label>
    <div class="col-lg-10">
      <input type="text" name="hinta" class="form-control"
        value="{{ request.form['hinta'] or product and (product['hinta'] if product['hinta']) }}">
      </input>
    </div>
  </div>
  <div class="form-group row">
    <label for="koodi" class="col-lg-2 col-form-label">Tuotteen numero</label>
    <div class="col-lg-10">
      <input type="text" name="koodi" class="form-control"
        value="{{ request.form['koodi'] or product and (product['koodi'] if product['koodi']) }}">
      </input>
    </div>
  </div>    
  <div class="form-group row">
    <label for="sijainti" class="col-lg-2 col-form-label">Sijainti</label>
    <div class="col-lg-10">
      <select class="custom-select" id="sijaintiselect" name=sijainti_id>
        <option value=""></option>
        {% for sijainti in sijainnit %}
          <option value="{{ sijainti['id'] }}"
                  {% if sijainti['id']|string == (request.form['sijainti'] or product and product['sijainti_id'])|string %} selected {% endif %}>
            {{ sijainti['kuvaus'] }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="tila" class="col-lg-2 col-form-label">Tila</label>
    <div class="col-lg-10">
      <select class="custom-select" id="tilaselect" name=tila_id>
        {% for tila in tilat %}
          <option value="{{ tila['id'] }}" 
                  {% if tila['id']|string == (request.form['tila'] or product and product['tila_id'])|string %} selected {% endif %}>
            {{ tila['kuvaus'] }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="lisätiedot" class="col-lg-2 col-form-label">Lisätiedot</label>
    <div class="col-lg-10">
      <input type="text" name="lisätiedot" class="form-control"
        value="{{ request.form['lisätiedot'] or product and (product['lisätiedot'] if product['lisätiedot']) }}">
      </input>
    </div>
  </div>
  <div class="form-group row">
    <label for="tilaus_id" class="col-lg-2 col-form-label">Tilausnumero</label>
    <div class="col-lg-10">
      <input type="text" name="tilaus_id" class="form-control"
        value="{{ request.form['tilaus_id'] or product and (product['tilaus_id'] if product['tilaus_id']) }}">
      </input>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</form>
